@use "sass:color";

$color-error: #ff0000;

.selected-item,
.selected-item-checkbox {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;

  .item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 35px 5px 10px;
    margin: 2px 5px 2px 0;
    color: #00425c;
    background: #d1f2ff;
    border-radius: 15px;

    &:hover {
      background: #93e0ff;
    }
  }

  button {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    background: #d1f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    &:hover {
      background: #93e0ff;
    }
  }
}

#auto-checkbox {
  label {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
  }
}

.custom-element {
  position: relative;
  cursor: pointer;

  &:focus {
    outline: thin dotted;
  }
}

// Checkbox styles

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 22px;
  height: 22px;
  margin: 0;
  z-index: 2; // potrzebne dla dostępności
  cursor: pointer;
}

.checkbox {
  position: relative;
  margin-left: 40px;
  font-size: 1.1rem;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid salmon;
    background: #fff;
    border-radius: 4px;
    transition:
      border 200ms,
      background 200ms ease-in-out;
  }
}

input[type="checkbox"]:checked + .checkbox:after {
  background: salmon;
  content: "✓";
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}

.checkoxes ul {
  .custom-element {
    padding: 0;
  }

  label {
    padding: 10px;
  }
}

.checkbox-selected {
  background: color.adjust($color-error, $lightness: 45%);
}

// Group-by styles
.group-by {
  position: relative;
  font-size: 0.7em;
  letter-spacing: 1px;
  background: #fff;
  color: #9600bb;
  line-height: 1;

  &:before {
    position: absolute;
    content: "";
    border-bottom: 1px solid #9600bb;
    width: 100%;
    top: 19px;
  }

  span {
    padding: 0 5px;
    background: #fff;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  small {
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0 12px 0 20px;
    background: #fff;
    line-height: 22px;
    border-radius: 2px;

    &::before {
      position: absolute;
      content: "\2193";
      margin-left: -10px;
    }
  }
}

// Count styles
.auto-search-wrapper.count {
  input {
    padding: 12px 65px 12px 40px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 25px;
    top: 0;
    bottom: 0;
    left: 32px;
    margin: auto;
    background: #bbbbbb;
  }
}

.count-number,
.count-number-checkbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  width: 25px;
  height: 25px;
  margin: auto;
  text-align: center;
  line-height: 24px;
  font-size: 0.8rem;
}

// Max-height styles
.max-height ul {
  max-height: 420px;
  overflow: auto;
}
