// AUTOSUGGESTION

.auto-is-loading {
  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: auto;
    right: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $color-blue;
    border-left-color: lighten($color-gray, 35%);
    border-top-color: lighten($color-gray, 35%);
    animation: spinner .6s linear infinite;
  }

  .auto-clear {
    display: none;
  }
}


.auto-clear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 40px;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z'/%3E%3C/svg%3E%0A");
    line-height: 100%;
    height: 24px;
    width: 24px;
  }

  span {
    display: none;
  }
}

.auto-output-search {
  display: none;
  background-color: $color-white;

  &.auto-is-active {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    z-index: 99999;
  }
}

.selected {
  background-color: lighten($color-gray, 40%);
  transition: background-color 0.2s ease-out;

  +li:before {
    border-top: none;
  }
}

.init-instruction {
  display: none;
}

.no-result {
  cursor: not-allowed;
}

.auto-error {
  border: 1px solid lighten($color-error, 10%) !important;

  &::placeholder {
    color: lighten($color-error, 20%);
    opacity: 1;
  }
}