@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

* {
  margin: 0;
  padding: 0
}

html {
  height: 100%
}

body,
html {
  margin: 0;
  padding: 0
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Lato, sans-serif;
  min-height: 100%;
  background: #ebebeb;
  padding: 0 15px;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

h1 {
  letter-spacing: 1px;
}

.label {
  display: block;
  font-size: 80%
}

.search {
  position: relative;
  display: block;
  margin: 10px auto;

  input {
    font-size: 16px;

    &::-ms-clear {
      display: none
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    border: 1px solid #858585;
    border-top: none;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    box-shadow:
      0 2.8px 2.2px rgba(223, 223, 223, 0.034),
      0 6.7px 5.3px rgba(192, 192, 192, 0.048),
      0 1.5px 1px rgba(144, 144, 144, 0.06),
      0 2.3px 1.9px rgba(92, 92, 92, 0.072),
      0 2.8px 1px rgba(63, 63, 63, 0.086);

    li {
      position: relative;
      cursor: pointer;
      margin: 0;
      padding: 10px;

      &:not(:last-child) {
        border-top: none
      }
    }
  }

  a {
    text-decoration: none;
    color: #000;
    outline: none
  }

  .full-width {
    width: 100%;
    height: 48px;
    padding: 6px 45px 6px 10px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
      border: 1px solid #858585;
      outline: none;
    }
  }

  .expanded {
    border-radius: 8px 8px 0 0;
    border: 1px solid #858585;
    outline: none;
  }

  &.loupe:before {
    filter: invert(50%)
  }
}

.loupe {
  .full-width {
    padding: 6px 45px 6px 40px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"%3E%3Cpath fill="lightgrey" d="M31.008 27.231l-7.58-6.447c-.784-.705-1.622-1.029-2.299-.998a11.954 11.954 0 002.87-7.787c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-.031.677.293 1.515.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007.23s.997-2.903-.23-4.007zM12 20a8 8 0 110-16 8 8 0 010 16z"/%3E%3C/svg%3E%0A');
  }
}

#autocomplete-list li.loupe {
  padding-left: 40px;
}

small {
  color: gray;
}