@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%
}

body,
html {
  margin: 0;
  padding: 0
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Lato, sans-serif;
  min-height: 100%;
  background: #ebebeb;
  padding: 0 15px;
}

h1 {
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
}

label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 770px) {
  .flex {
    display: block;
  }

  .search-element {
    margin: auto;
  }
}

.search ul {
  &::-webkit-scrollbar {
    background-color: red;
    width: 16px
  }

  &::-webkit-scrollbar-track {
    background-color: #fff
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dcdce6;
    border-radius: 16px;
    border: 2px solid #fff
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
  }

  &::-webkit-scrollbar-button {
    display: none
  }
}