@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import "./modules/colors";
@import "./modules/prism-theme";
@import "./modules/helper";

:root {
  --toggle-menu: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M3 13h18a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm0-6h18a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm0 12h18a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2z'/%3E%3C/svg%3E");

  --shadow: 0 2.8px 2.2px rgba(223, 223, 223, 0.034),
    0 6.7px 5.3px rgba(192, 192, 192, 0.048),
    0 1.5px 1px rgba(144, 144, 144, 0.06), 0 2.3px 1.9px rgba(92, 92, 92, 0.072),
    0 2.8px 1px rgba(63, 63, 63, 0.086);

  --modal: 171, 108, 253;
}

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  background: #fbfbfb;
  padding: 0;
  line-height: 1.4;
  font-size: 18px;
  overflow-x: hidden;
  min-height: 100%;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  top: 0;
  height: 50px;
  z-index: 9;
  padding: 0 20px;
  background: #fff;
  border-bottom: 1px solid #333;
}

h1 {
  position: relative;
  padding-left: 35px;
  font-size: 1.5rem;

  &.loupe:before {
    transform: scale(1.5);
    filter: brightness(0.5);
    left: 3px;
    top: 4px;
  }

  &.search:before {
    width: 30px;
    height: 30px;
    filter: invert(25%);
  }
}

a {
  text-decoration: none;
  color: #414141;
  padding: 7px 0 7px 5px;
  line-height: 1.3;
}

.active {
  position: relative;
  a {
    position: relative;
    color: #0095ff;
    font-weight: bold;
    background: #e5f4ff;
  }
  &:before {
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    left: -5px;
    width: 4px;
    background: #0095ff;
  }
}

label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}

aside {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  left: 0;
  overflow-y: auto;
  max-width: 320px;
  height: calc(100% - 50px);
  padding: 20px 0 20px 20px;
  border-right: 1px solid #333;
  background: #fff;
  z-index: 10;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);

  ul {
    list-style: none;
    background: #fff;

    li {
      a {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 14px;
      }
      &:hover {
        a {
          color: #0095ff;
        }
      }
    }
  }
}

.based {
  font-size: 60%;
  padding: 0 0 40px;
}

.flex {
  display: flex;
}

.search-elements {
  margin-top: 50px;
  margin-left: 330px;
  padding: 0 20px 50px 20px;
  transition: transform 100ms ease;
}

.github-corner {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 9;
}

.toggle-menu {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  display: none;
  z-index: 1;
  background: #0068ca;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: var(--toggle-menu) center no-repeat;
  }
}

section,
article {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

section,
article,
.section {
  position: relative;
  padding: 0 0 40px;
  max-width: 1000px;
}

h2 {
  margin-top: -50px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 60px;
  line-height: 120%;
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.3rem);
}

.auto-search-wrapper {
  h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2rem;
  }
}

h3 {
  position: relative;
  margin-bottom: 10px;
  font-size: clamp(1.6rem, -0.875rem + 7.333vw, 2rem);
}

.info-section h3 {
  padding: 5px 0;
}

.show-menu {
  aside {
    transform: translateX(0px);
    transition: transform 200ms ease;
  }
}

@media (max-width: 950px) {
  aside {
    transform: translateX(-350px);
    transition: transform 200ms ease;
  }

  .toggle-menu {
    display: block;
  }

  .search-elements {
    margin-left: 0;
  }
}

.highlight {
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  line-height: 130%;

  h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.html-class {
  position: relative;
}

.copy-code {
  position: absolute;
  z-index: 1;
  padding: 0 10px;
  top: 10px;
  right: 10px;
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  height: 28px;
  text-transform: uppercase;
  line-height: 1;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.success-msg {
  color: #000;
  background: greenyellow;
  &:hover {
    background: greenyellow;
  }
}

.error-msg {
  color: #000;
  background: red;
  &:hover {
    background: red;
  }
}

pre {
  display: flex;
  margin: 10px auto;
  padding: 0;
  position: relative;
  border-radius: 5px;
}

[rel] {
  position: relative;
  margin: 30px auto;

  &::before {
    position: absolute;
    content: attr(rel);
    top: 10px;
    left: 10px;
    z-index: 1;
    color: #fff;
    font-size: 80%;
    padding: 0 15px;
    background: #000;
    border-radius: 5px;
    line-height: 200%;
  }

  + div {
    margin-top: 30px;
  }
}

body,
.highlight code {
  &::-webkit-scrollbar {
    background-color: #eeeeee;
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dcdce6;
    border-radius: 16px;
    border: 2px solid #fff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

// github-corner
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 500px) {
  .github-corner {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }

    &:hover .octo-arm {
      animation: none;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.iframe {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  border: 1px solid #a3a3a3;
}

.info-section {
  code,
  a {
    padding: 2px 0;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
  }

  a {
    border-bottom: 1px solid #c7254e;
  }

  p + p {
    margin-top: 20px;
  }

  .callback {
    padding-bottom: 10px;

    p {
      padding: 5px 0;
    }
  }
}

.top {
  position: relative;
  padding-top: 40px;
  font-size: 0.8em;
  padding-left: 10px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "\2191";
    margin-top: -2px;
    left: 0;
  }
}

.active-data {
  max-width: 350px;
  border: 1px solid #ff9999;
  width: 100%;
  display: flex;
  background: rgb(245, 245, 245);
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 164, 164, 0.2);

  .image {
    overflow: hidden;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 300ms ease-in-out;
    border: 1px solid #fff;
    border-radius: 5px;

    &:hover {
      transform: scale(1.2);
      filter: brightness(150%);
    }
  }
}

.sources {
  margin: -10px 20px 40px 0;
}

.sources a {
  background: transparent;
  padding: 0 2px 2px;
  border-bottom: 1px solid salmon;
  transition: color 300ms ease-in-out;
}

.sources a:hover {
  color: salmon;
}

.wrap {
  display: flex;
  align-items: center;
}

.clear-button {
  cursor: pointer;
  margin-left: 10px;
  height: 44px;
  text-transform: uppercase;
  padding: 0 10px;
  border: 0;
  background: #c8c8c8;
  transition: all 300ms ease-in-out;

  &:hover {
    background: #000;
    color: #fff;
  }
}

table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #dfdfdf;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

.table-new {
  overflow: auto;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  font-size: 16px;
}

table + table {
  margin-top: 50px;
}

th {
  background: #e2e2e2;
  font-weight: normal !important;
  text-align: left;
  font-size: 80%;
  white-space: nowrap;
}

th,
td {
  padding: 10px;
  vertical-align: top;
}

td + td {
  border-left: 1px solid #e7e7e7;
}

th + th {
  border-left: 1px solid #d1d1d1;
}

td code {
  background: none !important;
  padding: 0 !important;
  letter-spacing: -1px;
  display: inline-block;
  line-height: 1.2;
}

// @media (hover: hover) {
//   td:first-child {
//     width: 200px;
//   }
// }

.first-table td:nth-child(3),
.second-table td:nth-child(2) {
  text-align: center;
}

.table {
  overflow: auto;
}

.menu {
  font-size: 90%;
  a {
    line-height: 1;
  }
}

h1.loupe {
  margin-bottom: 0;
}

.top-button {
  background: #fbfbfb;
  bottom: -8px;
  font-size: 0.8em;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-decoration: none;
  z-index: 1;
}

.top-button:after {
  content: "↑";
  position: absolute;
  right: 0;
  top: 0;
}

.selected {
  background: #ffe9e9;
  pointer-events: none;
}

.modal {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  background: rgba(var(--modal), 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  transition: opacity 0.2s ease-in-out;
}

.active-modal .modal {
  opacity: 1;
  pointer-events: all;
}

.auto-results-wrapper.auto-list-up {
  border-top: 1px solid #858585;
  border-bottom: none;
}

.auto-search-wrapper {
  max-width: 350px;
  margin: 20px 0;
}

.bottom-radius {
  .auto-results-wrapper {
    border-radius: 0 0 10px 10px;
    li {
      .additional-elements {
        align-self: center;
        margin-left: auto;
        font-size: 70%;
        border: 1px solid;
        padding: 5px;
        border-radius: 5px;
        &:hover {
          transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
          background: #000;
          color: #fff;
        }
      }
    }
  }
}

.additional-elements {
  padding: 5px 10px;
}

kbd {
  background-color: #f6f8fa;
  border-bottom-color: #a3a3a3;
  border: 1px solid #a3a3a3;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #dbdbdb;
  color: #000;
  display: inline-block;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 11px;
  padding: 5px 7px;
  vertical-align: middle;
}

.phone {
  display: flex;
  align-items: center;
  background-color: #fafafa;

  &.auto-selected {
    background-color: #413434;
    color: #fff;
  }
  &__country {
    order: 2;
    line-height: 100%;
    margin-right: 10px;
  }

  &__code {
    position: relative;
    order: 3;
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }

  &__flag {
    order: 1;
    margin-right: 10px;
    img {
      display: inherit;
    }
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
aside {
  scrollbar-width: auto;
  scrollbar-color: #ababab #ffffff;
}

/* Chrome, Edge, and Safari */
aside::-webkit-scrollbar {
  width: 16px;
}

aside::-webkit-scrollbar-track {
  background: #ffffff;
}

aside::-webkit-scrollbar-thumb {
  background-color: #ababab;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.hidden {
  display: none;
}

.history-item {
  align-items: center;
  font-size: 70%;
  color: #808080;
  padding: 2px 0;
}
