:root {
  --autocomplete-close-button: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z'/%3E%3C/svg%3E%0A");
  --autocomplete-loupe-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23929292' d='M16.041 15.856a.995.995 0 00-.186.186A6.97 6.97 0 0111 18c-1.933 0-3.682-.782-4.95-2.05S4 12.933 4 11s.782-3.682 2.05-4.95S9.067 4 11 4s3.682.782 4.95 2.05S18 9.067 18 11a6.971 6.971 0 01-1.959 4.856zm5.666 4.437l-3.675-3.675A8.967 8.967 0 0020 11c0-2.485-1.008-4.736-2.636-6.364S13.485 2 11 2 6.264 3.008 4.636 4.636 2 8.515 2 11s1.008 4.736 2.636 6.364S8.515 20 11 20a8.967 8.967 0 005.618-1.968l3.675 3.675a.999.999 0 101.414-1.414z'/%3E%3C/svg%3E");
}

.auto-search-wrapper {
  position: relative;
  display: block;
  width: 100%;
}
.auto-search-wrapper input {
  font-size: 16px;
  width: 100%;
  padding: 12px 45px 12px 10px;
  border: 1px solid #d7d7d7;
  box-shadow: none;
  box-sizing: border-box;
}
.auto-search-wrapper input:focus {
  border: 1px solid #858585;
  outline: none;
}
.auto-search-wrapper input::-ms-clear {
  display: none;
}
.auto-search-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.auto-search-wrapper ul li {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}
.auto-search-wrapper ul li:not(:last-child) {
  border-top: none;
}
.auto-search-wrapper ul li[disabled] {
  pointer-events: none;
  opacity: 0.5;
  background: #ececec;
}
.auto-search-wrapper .auto-expanded {
  border: 1px solid #858585;
  outline: none;
}
.auto-search-wrapper.loupe:before {
  filter: invert(60%);
}

.auto-is-loading:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 12px;
  margin: auto;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #808080;
  border-left-color: rgb(172.45, 172.45, 172.45);
  border-top-color: rgb(172.45, 172.45, 172.45);
  animation: auto-spinner 0.6s linear infinite;
}
.auto-is-loading .auto-clear {
  display: none;
}

@keyframes auto-spinner {
  to {
    transform: rotate(1turn);
  }
}
li.loupe:before {
  top: 15px;
  bottom: auto;
}

.loupe input {
  padding: 12px 45px 12px 35px;
}
.loupe:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  background-image: var(--autocomplete-loupe-icon);
}

.auto-selected:before {
  opacity: 1;
}

.auto-clear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 44px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.auto-clear:before {
  content: var(--autocomplete-close-button);
  line-height: 100%;
  height: 24px;
  width: 24px;
}
.auto-clear span {
  display: none;
}

.auto-results-wrapper {
  display: none;
  border: 1px solid #858585;
  border-top: none;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
}
.auto-results-wrapper ul > .loupe {
  padding-left: 40px;
}
.auto-results-wrapper.auto-is-active {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  z-index: 99;
}

.auto-selected {
  background-color: #f0f0f0;
}
.auto-selected + li:before {
  border-top: none;
}

.auto-error {
  border: 1px solid rgb(255, 28.05, 28.05);
}
.auto-error::placeholder {
  color: #ff3333;
  opacity: 1;
}

.hidden {
  display: none;
}
