@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
code[class*=language-],
pre[class*=language-] {
  color: #ccc;
  background: 0 0;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*=language-] {
  padding: 3em 1em 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #2d2d2d;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}

.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

pre > code {
  padding: 0 20px 0px 36px;
}

pre {
  position: relative;
}

pre:before {
  position: absolute;
  content: "1\a 2\a 3\a 4\a 5\a 6\a 7\a 8\a 9\a 10\a 11\a 12\a 13\a 14\a 15\a 16\a 17\a 18\a 19\a 20\a 21\a 22\a 23\a 24\a 25\a 26\a 27\a 28\a 29\a 30\a 31\a 32\a 33\a 34\a 35\a 36\a 37\a 38\a 39\a 40\a 41\a 42\a 43\a 44\a 45\a 46\a 47\a 48\a 49\a 50\a 51\a 52\a 53\a 54\a 55\a 56\a 57\a 58\a 59\a 60\a 61\a 62\a 63\a 64\a 65\a 66\a 67\a 68\a 69\a 70\a 71\a 72\a 73\a 74\a 75\a 76\a 77\a 78\a 79\a 80\a 81\a 82\a 83\a 84\a 85\a 86\a 87\a 88\a 89\a 90\a 91\a 92\a 93\a 94\a 95\a 96\a 97\a 98\a 99\a 100\a 101\a 102\a 103\a 104\a 105\a 106\a 107\a 108\a 109\a 110\a 111\a 112\a 113\a 114\a 115\a 116\a 117\a 118\a 119\a 120\a 121\a 122\a 123\a 124\a 125\a 126\a 127\a 128\a 129\a 130\a 131\a 132\a 133\a 134\a 135\a 136\a 137\a 138\a 139\a 140\a 141\a 142\a 143\a 144\a 145\a 146\a 147\a 148\a 149\a 150\a 151\a 152\a 153\a 154\a 155\a 156\a 157\a 158\a 159\a 160\a 161\a 162\a 163\a 164\a 165\a 166\a 167\a 168\a 169\a 170\a 171\a 172\a 173\a 174\a 175\a 176\a 177\a 178\a 179\a 180\a 181\a 182\a 183\a 184\a 185\a 186\a 187\a 188\a 189\a 190\a 191\a 192\a 193\a 194\a 195\a 196\a 197\a 198\a 199\a 200\a";
  left: 10px;
  top: 54px;
  bottom: 25px;
  width: 45px;
  padding-right: 15px;
  overflow: hidden;
  text-align: right;
  color: #666;
  white-space: pre;
  letter-spacing: -1px;
  background-color: #282c34;
}

.selected-item,
.selected-item-checkbox {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
}
.selected-item .item,
.selected-item-checkbox .item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 35px 5px 10px;
  margin: 2px 0;
  color: #00425c;
  background: #d1f2ff;
  border-radius: 15px;
  margin-right: 5px;
}
.selected-item .item:hover,
.selected-item-checkbox .item:hover {
  background: #93e0ff;
}
.selected-item button,
.selected-item-checkbox button {
  position: absolute;
  background: #d1f2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  width: 25px;
  height: 25px;
  right: 3px;
  border-radius: 50%;
}
.selected-item button:hover,
.selected-item-checkbox button:hover {
  background: #93e0ff;
}

#auto-checkbox label {
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
}

.custom-element {
  position: relative;
  cursor: pointer;
}

.custom-element:focus {
  outline: thin dotted;
}

.checkbox {
  position: relative;
  margin-left: 40px;
  font-size: 1.1rem;
}

.checkbox:after {
  position: absolute;
  content: "";
  left: -40px;
  border-radius: 4px;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid salmon;
  background: #fff;
  transition: border 200ms, background 200ms ease-in-out;
}

.checkbox:after {
  border-radius: 4px;
}

input[type=checkbox] {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0;
}

input[type=checkbox]:checked ~ .checkbox:before {
  position: absolute;
  content: "✓";
  top: 1px;
  left: -34px;
  font-size: 0.8rem;
  color: #fff;
  z-index: 1;
}

input[type=checkbox]:checked ~ .checkbox:after {
  background: salmon;
}

.checkoxes ul .custom-element {
  padding: 0;
}
.checkoxes ul label {
  padding: 10px;
}

.checkbox-selected {
  background: #ffe6e6;
}

.group-by {
  position: relative;
  font-size: 0.7em;
  letter-spacing: 1px;
  background: #fff;
  color: #9600bb;
  line-height: 1;
}
.group-by:before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #9600bb;
  width: 100%;
  top: 19px;
}
.group-by span {
  padding: 0 5px 0 0px;
  background: #fff;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0;
}
.group-by small {
  background: #fff;
  position: absolute;
  line-height: 22px;
  letter-spacing: normal;
  padding: 0 12px 0 20px;
  border-radius: 2px;
  right: 0;
  top: 7px;
}
.group-by small::before {
  position: absolute;
  margin-top: 0px;
  margin-left: -10px;
  content: "↓";
}

.auto-search-wrapper.count input {
  padding: 12px 65px 12px 40px;
}
.auto-search-wrapper.count:before {
  position: absolute;
  content: "";
  width: 1px;
  background: #bbbbbb;
  height: 25px;
  top: 0;
  bottom: 0;
  left: 32px;
  margin: auto;
}

.count-number,
.count-number-checkbox {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  left: 5px;
  margin: auto;
  text-align: center;
  line-height: 24px;
  font-size: 0.8rem;
}

.max-height ul {
  max-height: 420px;
  overflow: auto;
}

:root {
  --toggle-menu: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M3 13h18a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm0-6h18a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm0 12h18a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2z'/%3E%3C/svg%3E");
  --shadow: 0 2.8px 2.2px rgba(223, 223, 223, 0.034),
    0 6.7px 5.3px rgba(192, 192, 192, 0.048),
    0 1.5px 1px rgba(144, 144, 144, 0.06), 0 2.3px 1.9px rgba(92, 92, 92, 0.072),
    0 2.8px 1px rgba(63, 63, 63, 0.086);
  --modal: 171, 108, 253;
}

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  background: #fbfbfb;
  padding: 0;
  line-height: 1.4;
  font-size: 18px;
  overflow-x: hidden;
  min-height: 100%;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  top: 0;
  height: 50px;
  z-index: 9;
  padding: 0 20px;
  background: #fff;
  border-bottom: 1px solid #333;
}

h1 {
  position: relative;
  padding-left: 35px;
  font-size: 1.5rem;
}
h1.loupe:before {
  transform: scale(1.5);
  filter: brightness(0.5);
  left: 3px;
  top: 4px;
}
h1.search:before {
  width: 30px;
  height: 30px;
  filter: invert(25%);
}

a {
  text-decoration: none;
  color: #414141;
  padding: 7px 0 7px 5px;
  line-height: 1.3;
}

.active {
  position: relative;
}
.active a {
  position: relative;
  color: #0095ff;
  font-weight: bold;
  background: #e5f4ff;
}
.active:before {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left: -5px;
  width: 4px;
  background: #0095ff;
}

label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}

aside {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  left: 0;
  overflow-y: auto;
  max-width: 320px;
  height: calc(100% - 50px);
  padding: 20px 0 20px 20px;
  border-right: 1px solid #333;
  background: #fff;
  z-index: 10;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
}
aside ul {
  list-style: none;
  background: #fff;
}
aside ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
aside ul li:hover a {
  color: #0095ff;
}

.based {
  font-size: 60%;
  padding: 0 0 40px;
}

.flex {
  display: flex;
}

.search-elements {
  margin-top: 50px;
  margin-left: 330px;
  padding: 0 20px 50px 20px;
  transition: transform 100ms ease;
}

.github-corner {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 9;
}

.toggle-menu {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  display: none;
  z-index: 1;
  background: #0068ca;
}
.toggle-menu:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  background: var(--toggle-menu) center no-repeat;
}

section,
article {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

section,
article,
.section {
  position: relative;
  padding: 0 0 40px;
  max-width: 1000px;
}

h2 {
  margin-top: -50px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 60px;
  line-height: 120%;
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.3rem);
}

.auto-search-wrapper h2 {
  margin-top: 0;
  padding-top: 0;
  font-size: 2rem;
}

h3 {
  position: relative;
  margin-bottom: 10px;
  font-size: clamp(1.6rem, -0.875rem + 7.333vw, 2rem);
}

.info-section h3 {
  padding: 5px 0;
}

.show-menu aside {
  transform: translateX(0px);
  transition: transform 200ms ease;
}

@media (max-width: 950px) {
  aside {
    transform: translateX(-350px);
    transition: transform 200ms ease;
  }

  .toggle-menu {
    display: block;
  }

  .search-elements {
    margin-left: 0;
  }
}
.highlight {
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  line-height: 130%;
}
.highlight h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.html-class {
  position: relative;
}

.copy-code {
  position: absolute;
  z-index: 1;
  padding: 0 10px;
  top: 10px;
  right: 10px;
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  height: 28px;
  text-transform: uppercase;
  line-height: 1;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.copy-code:hover {
  background: #fff;
  color: #000;
}

.success-msg {
  color: #000;
  background: greenyellow;
}
.success-msg:hover {
  background: greenyellow;
}

.error-msg {
  color: #000;
  background: red;
}
.error-msg:hover {
  background: red;
}

pre {
  display: flex;
  margin: 10px auto;
  padding: 0;
  position: relative;
  border-radius: 5px;
}

[rel] {
  position: relative;
  margin: 30px auto;
}
[rel]::before {
  position: absolute;
  content: attr(rel);
  top: 10px;
  left: 10px;
  z-index: 1;
  color: #fff;
  font-size: 80%;
  padding: 0 15px;
  background: #000;
  border-radius: 5px;
  line-height: 200%;
}
[rel] + div {
  margin-top: 30px;
}

body::-webkit-scrollbar,
.highlight code::-webkit-scrollbar {
  background-color: #eeeeee;
  width: 20px;
}
body::-webkit-scrollbar-track,
.highlight code::-webkit-scrollbar-track {
  background-color: #fff;
}
body::-webkit-scrollbar-track:hover,
.highlight code::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
body::-webkit-scrollbar-thumb,
.highlight code::-webkit-scrollbar-thumb {
  background-color: #dcdce6;
  border-radius: 16px;
  border: 2px solid #fff;
}
body::-webkit-scrollbar-thumb:hover,
.highlight code::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}
body::-webkit-scrollbar-button,
.highlight code::-webkit-scrollbar-button {
  display: none;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  .github-corner:hover .octo-arm {
    animation: none;
  }
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
.iframe {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  border: 1px solid #a3a3a3;
}

.info-section code,
.info-section a {
  padding: 2px 0;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
}
.info-section a {
  border-bottom: 1px solid #c7254e;
}
.info-section p + p {
  margin-top: 20px;
}
.info-section .callback {
  padding-bottom: 10px;
}
.info-section .callback p {
  padding: 5px 0;
}

.top {
  position: relative;
  padding-top: 40px;
  font-size: 0.8em;
  padding-left: 10px;
  text-transform: uppercase;
}
.top::before {
  position: absolute;
  content: "↑";
  margin-top: -2px;
  left: 0;
}

.active-data {
  max-width: 350px;
  border: 1px solid #ff9999;
  width: 100%;
  display: flex;
  background: whitesmoke;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 164, 164, 0.2);
}
.active-data .image {
  overflow: hidden;
}
.active-data img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all 300ms ease-in-out;
  border: 1px solid #fff;
  border-radius: 5px;
}
.active-data img:hover {
  transform: scale(1.2);
  filter: brightness(150%);
}

.sources {
  margin: -10px 20px 40px 0;
}

.sources a {
  background: transparent;
  padding: 0 2px 2px;
  border-bottom: 1px solid salmon;
  transition: color 300ms ease-in-out;
}

.sources a:hover {
  color: salmon;
}

.wrap {
  display: flex;
  align-items: center;
}

.clear-button {
  cursor: pointer;
  margin-left: 10px;
  height: 44px;
  text-transform: uppercase;
  padding: 0 10px;
  border: 0;
  background: #c8c8c8;
  transition: all 300ms ease-in-out;
}
.clear-button:hover {
  background: #000;
  color: #fff;
}

table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #dfdfdf;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

.table-new {
  overflow: auto;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  font-size: 16px;
}

table + table {
  margin-top: 50px;
}

th {
  background: #e2e2e2;
  font-weight: normal !important;
  text-align: left;
  font-size: 80%;
  white-space: nowrap;
}

th,
td {
  padding: 10px;
  vertical-align: top;
}

td + td {
  border-left: 1px solid #e7e7e7;
}

th + th {
  border-left: 1px solid #d1d1d1;
}

td code {
  background: none !important;
  padding: 0 !important;
  letter-spacing: -1px;
  display: inline-block;
  line-height: 1.2;
}

.first-table td:nth-child(3),
.second-table td:nth-child(2) {
  text-align: center;
}

.table {
  overflow: auto;
}

.menu {
  font-size: 90%;
}
.menu a {
  line-height: 1;
}

h1.loupe {
  margin-bottom: 0;
}

.top-button {
  background: #fbfbfb;
  bottom: -8px;
  font-size: 0.8em;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-decoration: none;
  z-index: 1;
}

.top-button:after {
  content: "↑";
  position: absolute;
  right: 0;
  top: 0;
}

.selected {
  background: #ffe9e9;
  pointer-events: none;
}

.modal {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  background: rgba(var(--modal), 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  transition: opacity 0.2s ease-in-out;
}

.active-modal .modal {
  opacity: 1;
  pointer-events: all;
}

.auto-results-wrapper.auto-list-up {
  border-top: 1px solid #858585;
  border-bottom: none;
}

.auto-search-wrapper {
  max-width: 350px;
  margin: 20px 0;
}

.bottom-radius .auto-results-wrapper {
  border-radius: 0 0 10px 10px;
}

.additional-elements {
  padding: 5px 10px;
}

kbd {
  background-color: #f6f8fa;
  border-bottom-color: #a3a3a3;
  border: 1px solid #a3a3a3;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #dbdbdb;
  color: #000;
  display: inline-block;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 11px;
  padding: 5px 7px;
  vertical-align: middle;
}

.phone {
  display: flex;
  align-items: center;
  background-color: #fafafa;
}
.phone.auto-selected {
  background-color: #413434;
  color: #fff;
}
.phone__country {
  order: 2;
  line-height: 100%;
  margin-right: 10px;
}
.phone__code {
  position: relative;
  order: 3;
}
.phone__code::before {
  content: "(";
}
.phone__code::after {
  content: ")";
}
.phone__flag {
  order: 1;
  margin-right: 10px;
}
.phone__flag img {
  display: inherit;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
aside {
  scrollbar-width: auto;
  scrollbar-color: #ababab #ffffff;
}

/* Chrome, Edge, and Safari */
aside::-webkit-scrollbar {
  width: 16px;
}

aside::-webkit-scrollbar-track {
  background: #ffffff;
}

aside::-webkit-scrollbar-thumb {
  background-color: #ababab;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
