@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$color-white: #fff;
$color-gray: #e4e4e4;
$color-border-active: #ced4da;
$color-blue: rgb(0, 140, 255);
$color-black: #000;
$color-error: #ff0000;
$color-spinner: #ccc;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0%;
  bottom: 0%;
  margin: auto;
  right: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid $color-blue;
  border-left-color: $color-gray;
  border-top-color: $color-gray;
  animation: spinner .6s linear infinite;
}

.label {
  display: block;
  font-size: 80%;
}

.search {
  position: relative;
  display: block;
  margin: 10px auto;

  input {
    &::-ms-clear {
      display: none;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    border: 1px solid darken($color-gray, 20%);
    border-top: none;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    box-shadow: 0 8px 5px -4px rgba(158, 158, 158, 0.35);

    li {
      position: relative;
      cursor: pointer;
      margin: 0;
      padding: 10px;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        width: 95%;
        left: 0;
        right: 0;
        margin: auto;
        border-top: 1px solid $color-gray;
      }

      &:not(:last-child) {
        border-top: none;
      }

    }
  }

  a {
    text-decoration: none;
    color: $color-black;

    &:focus {
      outline: none;
    }
  }


  .full-width {
    width: 100%;
    height: 38px;
    padding: 6px 10px;
    background-color: $color-white;
    border: 1px solid darken($color-gray, 5%);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
      border: 1px solid darken($color-gray, 20%);
      outline: 0;
    }
  }

  .output-search {
    display: none;
    background-color: $color-white;

    &.active {
      display: block;
      position: absolute;
      width: 100%;
      margin-top: -3px;
      z-index: 1;
    }

  }

  .active-list {
    background-color: $color-gray;
    transition: background-color 0.2s ease-out;

    +li:before {
      border-top: none;
    }
  }
}

.error {
  border: 1px solid lighten($color-error, 10%) !important;

  &::placeholder {
    color: lighten($color-error, 20%);
    opacity: 1;
  }
}

.info {
  display: flex;
}

.icon {
  width: 32px;
  height: 32px;
  padding: 3px;
}

.address {
  margin-left: 5px;
  font-size: 80%;
  align-self: center;
}

.gender {
  &-male {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAw0lEQVRYR2NkIB0IALXUA3EAVOsCIN1IujEQHYxkaJwA1JOPpm8ikF9AhllkOeAD0CJ+NMseAPmKA+mAh0DLFejlgAZoGkC2D5QGQOIkA3LSAMgSUDpAToRkWU5uIiTZl/g0kBsCVHMEKQ5wANo6H09iA+WERCA+QIrrSHEAyAJ5AoaD1JCUHUlxwH8ifUaKmSQVRKMOGA2B0RAYDYEBDwFYQQhzCKwdCGofkl2zklRsQi0adcBoCIyGwGgIjIYAVUMAAGMeMyEOprIEAAAAAElFTkSuQmCC') no-repeat;
  }

  &-female {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABtElEQVRYR+1X0TEEQRB1ESACexEgAicCMnAZIAIrAmSwMiACROBEYGVABLzHtOqa2pntblfu57qqa29np/u96XnTw2TDb1sIuYAfp9AOz0t/mp+ISSDwGjGnWdwN3s8CuUIE3gG0mYH1eJ+uksAbwJv/ItAmDWg8aoDjbotogCDUgRZhCDwqQvcqawHRCiyNhIfAAqi7I8ics+9hZyUwJLwSjkuQFgJ7QHr2rCpVgdUYNQsBKf1HypY3IQHR381bMUZAl/4QSHP4SWFZtxjv4A/p+3k6rtUq1Ag0qfS8fCQZx14LGdmKezjvhCs4WzYFybGi1Qg8IuoAfg+XpsNEQ3cBx7YVyh1+H8GZg5ULEZghqk3gBKDxnVfxkGn1s2oEZzX4DBHIg5iU5edzyEiS2yBka7i/38ZEqJPUVi/zXD2AQVYCTVq9ZVUiRstcM4EO2UrHLwficZyb0I0VWHknpIp5HD3GmOrxk2RWDch8XQ35S1iOpWvvowQY95mCcwLexXyniQStCfSo3A5cb8EL3qkPt0W2QE6FJvAE5JkbPaiBNQH551RvgfsS+ksfaBHM5rMUAl/qE1YhPnkY8wAAAABJRU5ErkJggg==') no-repeat;
  }
}